/* Add your custom CSS styles here */

/* For example: */

.bg-login-image {
    background-size: cover;
    background-position: center;
    min-height: 100%;
}

/* You can add more custom styles as needed */
